/* How to
   ========================================================================== */
/* Variables file: assets/stylesheets/components/how-to/how-to.variables.scss */
.usage-example {
  display: flex;
  flex-direction: column;
  margin-top: $how-to-usage-example-margin-top;
  max-width: $how-to-max-width;

  p {
    margin: $how-to-p-size 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin-top: $how-to-title-p-margin-top;
    }
  }

  .wrap {
    display: flex;
    justify-content: flex-start;

    a {
      cursor: pointer;
    }

    p {
      margin: 0;
      padding: $how-to-wrap-p-padding;
    }

    /* Text and background colors */
    &.black-white {
      background-color: $example-1-background;
      color: $example-1-color;
    }

    &.white-gray {
      border: 1px solid $example-2-border;
      color: $example-2-color;
    }

    /* Text color over backgrounds */
    &.white-violet {
      background-color: $example-3-background;
      color: $example-3-color;
    }

    &.black-cerulean {
      background-color: $example-4-background;
      color: $example-4-color;
    }

    /* Links color */
    &.cerulean-white {
      border: 1px solid $example-5-border;
      color: $example-5-color;

      a {
        color: $example-5-span;
      }

      a:hover {
        color: $example-5-color-hover;
      }
    }

    &.blue-green {
      background-color: $example-6-background;
      color: $example-6-color;

      a {
        color: $example-6-span;
      }

      a:hover {
        color: $example-6-span-hover;
      }
    }

    &.green-blue {
      background-color: $example-7-background;
      color: $example-7-color;

      a {
        color: $example-7-span;
      }

      a:hover {
        color: $example-7-span-hover;
      }
    }
  }
}
