extends ../layouts/layout-main

block content
  .container.dashboard
    .row
      .col-sm-8
        h1
          | EOS UI Builder
        h4
          | Starter page for UI Builder
    hr.hidden-xs
