/* Modal video variables
   ========================================================================== */
/**
* Colors and sizing
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/

$video-modal-close-color: $bc-white;
$video-modal-close-background: $bc-green-500;
$video-modal-close-font-size: $m;
$video-modal-close-padding: $xs;
$video-modal-close-size: $xl;
$video-modal-body-padding: 0 $l $m $l;
$video-modal-header-padding:  $l $l $m $l;
