ul.footer-list
  li.footer-list-item
    a.footer-link(href='https://gitlab.com/SUSE-UIUX/ui-builder', target='_blank')
      img.js-tooltip(src='/images/icons/gitlab_color.svg', data-toggle='tooltip', data-html='true', title='View our repository')
