/* Post styles
   ========================================================================== */
/**
*  Use it in HTML as
*  <section class='post'></section>
*
*  This rule wraps a section with a max width of 1116px and applies a box box-shadow
*/
html {
  position: relative;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-type-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal-base;
  line-height: $line-height;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: $aside-width;
  min-height: $content-height-padding;
  min-width: $sd-min;

  @media screen and (max-width: $sd-max) {
    margin-left: 0;
    padding-top: $onmobile-content-margin-top;
  }
}

.container {
  margin-bottom: $xxxl;
  max-width: $container-max-width;
  padding: $xl;
  width: 100%;

  hr {
    margin: $container-hr-margin 0;
  }
}

@media screen and (max-width: $sd-max) {
  ul {
    padding-left: $xs;
  }
}
