/* Changelog variables
  ========================================================================== */
$changelog-box-border: 1px solid $bc-gray-100;
$changelog-box-right-p-color: $bc-cerulean-900;
$changelog-box-inactive-img-opacity: 0.3;
$changelog-box-inactive-color: $bc-gray-100;
$changelog-box-inactive-color-link: $bc-cerulean-100;
$changelog-mobile-wrapper-bg: $bc-gray-100;
$changelog-mobile-headline: $font-size-base;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$changelog-mobile-rocket: $l;
$changelog-box-margin-top: $xl;
$changelog-box-left-img-margin-right: $s + 2;
$changelog-box-left-img-width: $xxl + 2;
$changelog-box-right-padding: 0 $s + 2;

$changelog-mobile-box-padding: $s;
$changelog-mobile-box-margin-bottom: $xxl;
$changelog-mobile-p-margin: $xs;
