/* Steps progress bar
   ========================================================================== */
/* Variables file: assets/stylesheets/components/steps-progress-bar/steps-progress-bar.variables.scss */
.steps-progress-bar {
  margin: 0 auto;
  padding: 0;
  width: 600px;

  li {
    color: $steps-progress-bar-color;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 33.33333333%;

    a {
      color: $steps-progress-bar-color;
      display: inline-block;
    }

    .steps-wrapper {
      background-color: $body-bg;
      margin: 0 auto;
      transition: all 0.2s ease;
      width: $steps-progress-bar-size;

      &:hover {
        transform: scale(1.3);
      }

      &:active {
        transform: scale(1.4);
      }

      span {
        background-color: $steps-progress-wrapper-background-span;
        border-radius: 50%;
        display: inline-block;
        height: $steps-progress-wrapper-size-span;
        line-height: $steps-progress-wrapper-size-span;
        margin-top: $steps-progress-wrapper-span-margin-top;
        width: $steps-progress-wrapper-size-span;
      }
    }

    p {
      color: $steps-progress-wrapper-title;
    }

    &:after {
      background-color: $steps-progress-bar-after;
      content: '';
      height: $steps-progress-bar-after-height;
      left: -50%;
      position: absolute;
      top: $steps-progress-bar-after-top;
      width: 100%;
      z-index: $steps-progress-bar-z-index;
    }

    &:first-child:after {
      content: none;
    }

    &.selected {

      a {
        cursor: default;
        pointer-events: none;

        .steps-wrapper {
          width: $steps-progress-wrapper-size-selectred;
        }

        span {
          height: $steps-progress-wrapper-selected-size;
          line-height: $steps-progress-wrapper-selected-size;
          margin-top: 0px;
          width: $steps-progress-wrapper-selected-size;
        }
      }
    }
  }
}
