/* Show-more-less
   ========================================================================== */
/* Variables file: assets/stylesheets/components/show-more-less/show-more-less.variables.scss */

.css-snippet-container {
  position: relative;

  .scss-snippet-btns {
    margin-top: $sml-scss-snippet-btns-margin-top;
    position: absolute;
    right: $sml-scss-snippet-btns-right;

    i {
      color: $sml-scss-snippet-btns-color;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .snippet-code {
    border-radius: 0;
    height: $sml-snippet-code-height;
    overflow: hidden;
  }

  .show-more-less {
    bottom: $sml-show-more-less-bottom;
    outline: none;
    position: absolute;
    right: $sml-show-more-less-right;
  }

  .toggle-height {
    height: auto;
  }
}

