/* Show-more-less
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */

$sml-scss-snippet-btns-margin-top: $s;
$sml-snippet-code-height: 240px;
$sml-show-more-less-bottom: $s;
$sml-show-more-less-right: $s;

$sml-scss-snippet-btns-color: $bc-white;
$sml-scss-snippet-btns-right: $s;
