/* Colors variables: /assets/stylesheets/base/variables/branding.scss
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* z-index variables: /assets/stylesheets/base/variables/z-index.scss */

$card-colored-footer-transition:  all 0.3s ease-in-out;
$card-colored-footer-zindex: $zindex-negative;
$card-colored-width: 100%;
$card-colored-z-index: $zindex-top;
$card-colored-footer-height: $xxl;

$card-colored-default-color: $bc-gray-500;
$card-colored-link-color: $body-color;
