.card-colored {
  border: 1px solid $card-colored-default-color;
  border-bottom: 5px solid $card-colored-default-color;
  color: $card-colored-link-color;
  display: flex;
  position: relative;
  width: $card-colored-width;
  z-index: $card-colored-z-index;

  footer {
    align-items: center;
    background: $card-colored-default-color;
    bottom: -5px;
    display: flex;
    font-weight: bold;
    height: 0px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: $sd-max) {
      display: none;
    }

    p {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  /* Manage hover state of footer */
  &:hover {
    color: $card-colored-link-color;
    cursor: pointer;
    text-decoration: none;

    footer {
      height: 55px;
      opacity: 1;
      z-index: 10;

      p {
        opacity: 1;
      }
    }
  }
}
