/* Tabs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$tabs-border-color: $bc-gray-80;
$tabs-active-bg: $bc-white;
$tabs-active-border-color: $bc-green-500;
$tabs-inactive-bg: $bc-gray-80;
$tabs-text-color: $bc-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$tabs-margin-top: $xl;
$tabs-content-padding: $l;
