/* Do and Dont component variables / $dd = do-dont
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$do-dont-bg: $bc-white;
$do-title: $color-success;
$dont-title: $color-danger;
$do-column-border: 5px solid $color-success; // Reference at /assets/stylesheets/base/variables/colors.scss
$dont-column-border: 5px solid $color-danger;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$dd-container-text-center-margin-top: $l;
$dd-content-margin-left: $l;
$dd-padding: $m $l;
$dd-padding-mobile: $m 0;
$dd-container-margin-mobile: $m 0px;
$dd-column-magin: 0 $m;
$dd-column-padding: $m;
$dd-column-ul-padding: 0 0 0 $m;
$dd-dont-column-margin-mobile: $m;
$dd-dont-full-width-do-dont: $s;

