/* Panel slidein variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$panel-slidein-bg: $bc-white;
$panel-sliding-transition: left 300ms cubic-bezier(0.17, 0.04, 0.03, 1);
$panel-sliding-mobile: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 1);

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$panel-slidein-width: 350px;
$panel-slidein-height: 100%;
$panel-slidein-padding: $s $l;
$panel-slidein-close-right: $s;
$panel-slidein-close-top: $m;
$panel-slidein-footer-padding: $m 0;
$panel-slidein-hr-padding: $xl;
$panel-slidin-zindex: $zindex-modal-background;

/* $ps- prefix for panel-slidein, device variables */
$ps-device-font-size: $s + 4;
$ps-device-footer-padding: $m 0;
$ps-device-label-margin: $xs $s 0 0;
$ps-device-top-padding: $l $s;
$ps-device-top-padding-small: $s;
$ps-device-h3-margin: 0 0 0 $xxxl;
$ps-device-p-margin: $xs;
$ps-device-code-margin: $s 0 0 $xxxl;
$ps-device-margin-top-margin: $s;
$ps-device-hr-margin: $xs 0;
$ps-device-do-dont-margin: 0 $m;
$ps-device-do-dont-margin-mobile: $xs;
$ps-device-do-dont-margin-padding: $s + 2;
$ps-device-custom-breakpoint: 550px;
